<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="login-page">
<div class="form">
    <form class="register-form">
        <h1> Best Project Ever</h1>
        <input type="text" placeholder="First Name"/>
        <input type="text" placeholder="Last Name"/>
        <input type="text" placeholder="Email"/>
        <input type="text" placeholder="Password"/>
        <button>Create</button>
        <p class="message">Already Registered? <a href="index.html">Login</a>

        </p>
        <h3>ITMD-467 Final Project</h3>
        <h4>Daniel Tiberi, Reynaldo Gutierrez, Marilyn Elaine Flowers</h4>

    </form>

</div>

</div>

</body>
</html>